body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.name{
	display: inline-block;
	margin-right: 50px;
}
.home_1_testimonials_cont {
    padding: 0.75% 0;
    background: #b1874d;
}
.testimonials_title h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#FFF;
}
.logo {
  cursor: pointer !important;
}